FORGE_BRIGHTDATA_API_KEY=your_brightdata_api_key
FORGE_BRIGHTDATA_BROWSER_WS_URL=wss://user:password@brd.superproxy.io:9222
FORGE_BRIGHTDATA_SELENIUM_URL=https://user:password@brd.superproxy.io:9515
FORGE_PORT_CLIENT_ID=your_port_client_id
FORGE_PORT_CLIENT_SECRET=your_port_client_secret
FORGE_SIGNOZ_INGESTION_KEY=your_signoz_ingestion_key
FORGE_SIGNOZ_INGEST_BASE_URL=https://ingest.<region>.signoz.cloud
FORGE_OPENAI_API_KEY=your_openai_api_key
